@import "tailwindcss";

.btn,
.dropdown-item,
.dropdown-check,
.trigger-primario {
  @apply flex items-center gap-2 p-1.5 px-2 rounded transition-colors disabled:opacity-50 disabled:cursor-not-allowed data-[disabled]:opacity-50 data-[disabled]:cursor-not-allowed;
}

.btn {
  @apply justify-center font-bold
}

label.btn {
  @apply peer-disabled/input:cursor-not-allowed peer-disabled/input:opacity-50 cursor-pointer
}

.input, .btn-secundario {
  @apply border-base not-disabled:hover:bg-dark not-disabled:focus-visible:bg-dark not-disabled:hover:border-highlight not-disabled:focus-visible:border-highlight
}

.input {
  @apply w-full p-0.5 px-2 rounded border bg-darkest aria-[invalid=true]:border-red-500 aria-[invalid=true]:outline-red-500 aria-[invalid=true]:text-red-500 disabled:cursor-not-allowed disabled:opacity-50 disabled:text-neutral-400 transition-colors
}

.btn-primario, a[aria-current=page], .primario {
  @apply bg-primary text-[var(--bg-base)]
}

.btn-primario, a[aria-current=page] {
  @apply not-disabled:hover:bg-neutral-800 not-disabled:hover:dark:bg-neutral-300 outline-offset-2
}

.btn-borde {
  @apply border-2 border-primary not-disabled:hover:bg-dark not-disabled:focus:bg-dark -outline-offset-2
}

.btn-secundario, .trigger-primario {
  @apply border bg-darkest text-neutral-500 dark:text-neutral-300
}

.btn-peligro {
  @apply bg-red-500 not-disabled:hover:bg-red-600 text-white
}

.dropdown-content {
  @apply z-2 col gap-2 p-2 rounded-box shadow-lg bg-base border border-base data-[side=bottom]:animate-[slideUpAndFade_150ms] data-[side=left]:animate-[slideRightAndFade_150ms] data-[side=right]:animate-[slideLeftAndFade_150ms] data-[side=top]:animate-[slideDownAndFade_150ms] group-data-[side=bottom]/content:animate-[slideUpAndFade_150ms] group-data-[side=left]/content:animate-[slideRightAndFade_150ms] group-data-[side=right]/content:animate-[slideLeftAndFade_150ms] group-data-[side=top]/content:animate-[slideDownAndFade_150ms]
}

.dropdown-item,
.dropdown-check {
  @apply w-full hover:outline-0! border border-transparent! data-highlighted:not-disabled:bg-dark data-highlighted:border-highlight! cursor-default
}

.dropdown-check-btn {
  @apply flex justify-center p-1 hover:outline-0! border border-transparent text-muted data-highlighted:not-disabled:not-[[data-state=checked]]:bg-darkest aria-[checked=false]:border-base rounded-selector cursor-pointer aria-[checked=false]:bg-dark aria-[checked=true]:bg-primary aria-[checked=true]:text-[var(--bg-base)] transition-colors
}

.dropdown-check {
  @apply data-[state="checked"]:bg-primary! data-[state="checked"]:text-[var(--bg-base)] cursor-default
}

.dropdown-select {
  @apply py-1.25 px-0.5 border border-base rounded-field hover:border-highlight focus:border-highlight bg-dark focus-visible:bg-darkest hover:bg-darkest transition-colors
}

.trigger-primario {
  @apply border-base! data-[state=open]:bg-primary! data-[state=open]:text-[var(--bg-base)]! data-[state=open]:border-transparent!
}

.trigger-puntos {
  @apply absolute m-auto h-full
}

.carga {
  --speed: .8s;
  --bg-opacity: 0.1;
  transform-origin: center;
  animation: rotate var(--speed) linear infinite;
  will-change: transform;
  overflow: visible;
}

.carga .car {
  fill: none;
  stroke-dasharray: 25, 75;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  transition: stroke 0.5s ease;
}

.carga .track {
  fill: none;
  opacity: var(--bg-opacity);
  transition: stroke 0.5s ease;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.switch {
  --s: 16px;
  
  position: relative;
  height: var(--s);
  width: calc(var(--s) * 2);
  background: var(--bg-darkest);
  border: 1px solid var(--border-base);
  border-radius: 100px;
  cursor: pointer;
}

.switch::after {
  --x: 3px;

  content: '';
  position: absolute;
  top: 2px;
  left: var(--x);
  width: calc(var(--s) * 0.6);
  height: calc(var(--s) * 0.6);
  background: #0005;
  border-radius: 100px;
  transition: left 0.2s, transform 0.2s;
}

.oscuro .switch::after {
  background: #fff4;
}

.group[data-checked] .switch,
.group[data-state=checked] .switch,
.switch:checked {
  background: var(--primary);
  border-color: var(--primary);
}

.group[data-checked] .switch::after,
.group[data-state=checked] .switch::after,
.switch:checked::after {
  left: calc(100% - var(--x));
  transform: translateX(-100%);
  background: var(--bg-base);
  border-color: var(--bg-base);
}