@import "tailwindcss";
@import "../estatico/fuentes/index.css";
@import '../estatico/componentes.css';
@import '../estatico/utilidades.css';


html,
body,
#app {
  height: 100%;
}

html {
  --bg-darkest: hsl(0 0% 95%);
  --bg-dark: hsl(0 0% 97%);
  --bg-base: hsl(0 50% 100%);

  --radius-box: 0.75rem;
  --radius-field: 0.25rem;
  --radius-selector: 0.5rem;

  --primary: hsl(0 0% 0%);
  --text-base: hsl(0 0% 0%);
  --text-muted: hsl(0 0% 40%);

  --border-base: hsl(0 0% 85%);
  --border-highlight: hsl(0 0% 70%);

  color: var(--text-base);
  accent-color: var(--primary);
  color-scheme: light;

  background: linear-gradient(-45deg, hsl(0, 0%, 96%) 20%, transparent 20% 80%, hsl(0, 0%, 96%) 80% 100%),
    linear-gradient(45deg, hsl(0, 0%, 96%) 20%, transparent 20% 80%, hsl(0, 0%, 96%) 80% 100%),
    linear-gradient(-45deg, #ffffff 33%, transparent 33% 66%, #ffffff 66%),
    linear-gradient(45deg, transparent 33%, hsl(0, 0%, 92%) 33% 66%, transparent 66%);
  background-size: 3em 3em;
}

html.oscuro {
  --bg-darkest: hsl(0 0% 12%);
  --bg-dark: hsl(0 0% 10%);
  --bg-base: hsl(0 0% 8%);

  --primary: hsl(0 0% 90%);
  --text-base: hsl(0 0% 90%);
  --text-muted: hsl(0 0% 70%);

  --border-base: hsl(300 0% 22%);
  --border-highlight: hsl(300 0% 32%);

  color-scheme: dark;

  background: linear-gradient(-45deg, hsl(0, 0%, 9%) 20%, transparent 20% 80%, hsl(0, 0%, 9%) 80% 100%),
    linear-gradient(45deg, hsl(0, 0%, 9%) 20%, transparent 20% 80%, hsl(0, 0%, 9%) 80% 100%),
    linear-gradient(-45deg, hsl(0, 0%, 7%) 33%, transparent 33% 66%, hsl(0, 0%, 7%) 66%),
    linear-gradient(45deg, transparent 33%, hsl(0, 0%, 8%) 33% 66%, transparent 66%);
  background-size: 3em 3em;
  background-color: hsl(0, 0%, 7%)
}

@media screen and (max-width: 640px) {
  html {
    font-size: 14px;
  }
}

@theme inline {
  --color-primary: var(--primary);
}

@custom-variant dark (&:where(.oscuro, .oscuro *));

@custom-variant hover (&:hover);

/* Bug de Chrome 66, no funciona gap */
@supports not (font-size: clamp(1rem, 2.5vw, 2rem)) {

  .flex:not(.col)>*:not(:last-child),
  .flex>*.gap:not(.col)>*:not(:last-child),
  .col>*.gap:not(.col)>*:not(:last-child),
  .btn:not(.col)>*:not(:last-child),
  .grid>*:not(:last-child) {
    margin-right: calc(var(--spacing) * var(--multiplier));
  }

  .col>*:not(:last-child),
  .col>*.col>*:not(:last-child) {
    margin-bottom: calc(var(--spacing) * var(--multiplier));
  }
}

svg {
  display: inline-block;
}

svg:not([width]):not([class]) {
  width: 1.25em;
}

svg:not([height]):not([class]) {
  height: 1.25em;
}

svg:not([stroke-width]) {
  stroke-width: 0;
}

svg:not([stroke]) {
  stroke: currentColor;
}

svg:not([fill]) {
  fill: currentColor;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}